.header {
  min-height: 2.5em;
  padding: 1.5em 0 0.5em 0;
  margin: 0 2em;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  border-bottom: 1px solid grey;
}

.contentContainer {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
  grid-gap: 2vw;
}

.postContainer {
  padding: 0.5em;
  min-height: 13em;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px;
}

.title {
  font-size: larger;
  font-weight: 700;
}

.body {
  font-size: medium;
  font-weight: 400;
  padding-top: 0.5em;
} 
